%h1= t(:edit_task)

= render "form", task: @task

%br

.container
  = link_to t(:back_to_tasks), tasks_path, class: "btn btn-outline-dark"
  |
  = link_to t(:show_projects), projects_path, class: "btn btn-outline-primary"
