%p
  %h3
    =t(:profile)
    = image_tag(current_user.avatar_thumbnail(75,current_user),class: "border border-primary ")

  %b
    =t(:name).to_s+ ': '
  =current_user.name
  %br

  %b
    =t(:surname).to_s+ ": "
  =current_user.surname
  %br
  %b
    =t(:number_of_tasks).to_s + ": "
  =current_user.tasks.size

