=turbo_stream.append :projects  do

  ==render @projects

=turbo_stream.replace :pagination do
  -if @pagy.next.present?
    =turbo_frame_tag :pagination,
            loading: :lazy,
            src: projects_path(format: turbo_stream, page: @pagy.next)